<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Natural Disaster risk score</title>
<!-- <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
<!-- Adding Mapbox GL JS and associated CSS files -->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
<style>
    body {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #2e2e2e;
    }

    h2,
    h3 {
        margin: 10px;
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        margin: 10px;
    }

    #map {
        right: 75px;
        position: absolute;
        top: 105px; 
        bottom: 0;
        width: 80%;
        height: 80%;
        left: 100px; 
    }

    .map-overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #fff;
        margin-right: 20px; 
        font-family: Arial, sans-serif;
        overflow: hidden;
        border-radius: 3px;
    }

    #features {
        right: 75px;
        top: 0;
        height: 100px;
        margin: 10px;
        width: 250px;
        top: 105px;
        position: absolute;
        left: 100px;
    }

    #legend {
        padding: 10px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
        /*line-height: 18px;
        height: 150px;
        margin: 10px;
        width: 100px;
        right: 175px;
        top: 395px; */
        /* right: 175px;
        top: 0;
        height: 175px;
        margin: 10px;
        width: 100px;
        top: 380px;
        position: absolute;
        left: 100px; */
            right: 75px;
        /* top: 0; */
        height: 155px;
        margin: 10px;
        width: 145px;
        /* top: 105px; */
        position: absolute;
        /*left: 100px;*/
        right:175px;
        bottom: 30px;
    }

    .legend-key {
        display: inline-block;
        border-radius: 20%;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
    .topnav {
        overflow: hidden;
        background-color: #333;
        transition: 0.5s;
        margin-left: 20px;
        display: flex;
        justify-content: center;
    }

    .topnav button {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        background-color: #333;
        border-color: #333;
        cursor: pointer;
    }

    .topnav button:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav button.active {
        background-color: #05333c;
        color: white;
    }
    @media screen and (max-height: 330px) {
        #legend {
            display:none;
        }
    }
    @media screen and (max-width: 760px) {
        #legend {
            display:none;
        }
    }
</style>
</head>
<body>
    <div class="topnav">
        <a href="/index"><button type="button" id="button1" >Interactive map</button></a>
        <a href="/news"><button type="button" id="button2" >Latest news</button></a>
        <a href="/weather_updates"><button type="button" id="button3" >Weather updates</button></a>
        <a href="/my_journal"><button type="button" id="button4" >Travel journal</button></a>
    </div>
<form action="/logout" method="POST">
    <button type="submit">Log out</button>
</form>

<div id='map'></div>
<div class='map-overlay' id='features'><div id='pd'><p>Hover over a country!</p></div></div>
<div class='map-overlay' id='legend'></div>

<script>
	// ACCESS TOKEN FROM
	// https://account.mapbox.com
	mapboxgl.accessToken = '<%=access_token%>';
    const map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/eshaanganesh2/cl3h4yluy004h15o48an2ep1w' ,
        center: [18.51433532815713, 10.028891920771514], 
        zoom:1.0314708070746934
    });

    // In order to ednsure that rest of the code is executed only after map has loaded
    map.on('load', () => {
        const layers = [
            'Very Low',
            'Low',
            'Medium',
            'High',
            'Very high',
            'undefined'
        ];
        const colors = [
            '#008000',
            '#9acd32',
            '#ff4500',
            '#ff0000',
            '#b22222',
            '#000000'
        ];
        // creating legend
        const legend = document.getElementById('legend');
        const legend_title=document.createElement('div');
        legend_title.innerHTML=`<h3>Risk of disaster</h3>`
        legend.appendChild(legend_title);
        layers.forEach((layer, i) => {
        const color = colors[i];
        const item = document.createElement('div');
        const key = document.createElement('span');
        key.className = 'legend-key';
        key.style.backgroundColor = color;

        const value = document.createElement('span');
        value.innerHTML = `${layer}`;
        item.appendChild(key);
        item.appendChild(value);
        item.style.padding = "0px 0px 0px 15px";
        legend.appendChild(item);
        });

        //Adding a listener for mouseover event which indentifies the country above which the cursor is currently at
        map.on('mousemove', (event) => {
        const countries = map.queryRenderedFeatures(event.point, {
            layers: ['SafetyRiskScore']
        });
        document.getElementById('pd').innerHTML = countries.length
            ? `<h3>${countries[0].properties.name}</h3><p><strong>Natural Disaster Risk Score:</strong> <em>${countries[0].properties.score}</em></p>`
            : `<p>Hover over a country!</p>`;
        });
        map.getCanvas().style.cursor = 'default';
        // map.fitBounds([
        //     [-133.2421875, 16.972741],
        //     [-47.63671875, 52.696361]
        // ]);
        map.fitBounds([
            [-171.27571203321787, -25.138263435000567],
            [198.30438268953162, 55.42935227371228]
        ]);
    });

</script>

</body>
</html>