<!DOCTYPE html>
<html>
  <head>
    <title>Climate Change Web Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 18px;
      /*color: #eee;*/
      color:white;
      }
      body {
      background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("breaking-light-green-forest-plain-820x532.jpg");
      background-size: cover;
      }
      h1, h2 {
      text-transform: uppercase;
      font-weight: 400;
      }
      h2 {
      margin: 0 0 0 8px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 25px;
      background: rgba(0, 0, 0, 0.5); 
      }
      .left-part, form {
      padding: 25px;
      }
      .left-part {
      text-align: center;
      }
      .fa-tree {
      font-size: 72px;
      }
      form {
      background: rgba(0, 0, 0, 0.7); 
      }
      .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      }
      .info {
      display: flex;
      flex-direction: column;
      }
      input,select {
      padding: 5px;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
      }
      input[type="time"]::-webkit-calendar-picker-indicator{
      filter: invert(100%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
      }
      input[type="date"]::-webkit-calendar-picker-indicator{
      filter: invert(100%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
      }
      input::placeholder {
      color: #eee;
      }
      input:focus::placeholder {
      color: transparent;
      }
      option:focus {
      border: none;
      }
      option {
      background: black; 
      border: none;
      }
      .checkbox input {
      margin: 0 10px 0 0;
      vertical-align: middle;
      }
      #location{
      padding: 5px;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
      }
      .checkbox a {
      color: #26a9e0;
      }
      .checkbox a:hover {
      color: #85d6de;
      }
      .btn-item, button {
      padding: 10px 5px;
      margin-top: 20px;
      border-radius: 5px; 
      border: none;
      background: #26a9e0; 
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      }
      #datepicker:before {
      content:'Date of observation:';
      margin-right:.6em;
      color:#eee;
      }
      #timepicker:before {
      content:'Time of observation:';
      margin-right:.6em;
      color:#eee;
      }
      .btn-item {
      display: inline-block;
      margin: 20px 5px 0;
      }
      button {
      width: 100%;
      }
      button:hover, .btn-item:hover {
      background: #85d6de;
      }
      #earth_icon{
        width: 100px;
        height:75px;
      }
      .pointer {cursor: pointer;}
      span{
        margin-top:100px;
      }
      .login_div{
        margin-top: 20px;
      }
      .message{
        color:rgb(199, 51, 51);
      }
      @media (min-width: 568px) {
      html, body {
      height: 100%;
      }
      .main-block {
      flex-direction: row;
      height: calc(100% - 50px);
      }
      .left-part, form {
      flex: 1;
      height: auto;
      }
      }
    </style>
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <img id="earth_icon" src = "earth-americas-solid.svg"/>
        <!-- <i class="fa-solid fa-user"></i> -->
        <h1>Tripops</h1>
        <p>Tripops was developed in order to provide users a one-stop solution for travel-planning. The application consists of: <br><br> 1. An interactive choropleth map to depict countries by their natural-disaster risk scores <br><br> 2. A component for users to browse news articles by location <br><br> 3. A platform that enables users to store notes in the form of text, as well as images, videos and other file formats <br><br> 4. A feature that sets users up to receive daily weather forecasts via email for the destination they intend to travel to. </p>
      </div>
      <form action="/login" method="POST">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>SIGN IN TO YOUR EXISTING ACCOUNT</h2>
        </div>
        <div class="info">
          <input class="username" type="text" name="username" required placeholder="Username">
          <input type="password" id="password" name="password" required placeholder="Password">
        </div>
        <div class="message">
          <% if(typeof message  !== 'undefined'){ %>
            <%= message %>
          <% } %>
          </div>
        <button class="pointer" type="submit" >Sign in</button>
        <div class="login_div">
          <span>Don't have an account? <a href="/register">Signup here</a></span>
        </div>
      </form>
    </div>
  </body>
</html>