<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Latest news</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <style>
        body {
            min-height: 100vh;
            margin: 0 auto;
            background-color: #2e2e2e;
        }
        h2,
        h3 {
            margin: 10px;
            font-size: 18px;
        }

        h3 {
            font-size: 19px;
        }

        p {
            margin: 10px;
        }

        .topnav button {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
            background-color: #333;
            border-color: #333;
            cursor: pointer;
        }

        .topnav button:hover {
            background-color: #ddd;
            color: black;
        }


        .submit button.active {
            background-color: #05333c;
            color: white;
        }
        .submit{
            float: right;
        }
        .dummy{
            text-align: center;
        }
        .submit button:hover {
            background-color: #ddd;
            color: black;
        }
        .submit button {
            float: right;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
            background-color: #333;
            border-color: #333;
            cursor: pointer;
            /* margin-left: auto;
            order: 2; */
            margin: 10px;
            margin-top: 0px;
            border-radius: 20px;
        }
        .topnav {
            overflow: hidden;
            background-color: #333;
            transition: 0.5s;
            /* float: left; */
            /* margin-left: 20px; */
            /* justify-content: center; */
            display: inline-block;
        }


        .topnav button.active {
            background-color: #05333c;
            color: white;
        }
        .input-group{
            width:28%;
        }
        .mapboxgl-ctrl-geocoder {
            max-width: 30%;
            transition: box-shadow 0.3s ease-in-out;
        }
        .mapboxgl-ctrl-geocoder:hover {
            transition: box-shadow 0.3s ease-in-out;
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
        }
        #search_box_wrapper{
            display: flex;
            justify-content: center;
            margin:auto;
            width: 100%;
        }
        #textfield{
            display: flex;
            justify-content: center;
            margin:auto;
            width: 60%;
            margin-top:50px;
        }
        .input-group-append
        {
            flex-direction: row-reverse;
        }
        .btn-outline-secondary
        {
            color:#bfc1c5;
        }
        #news-header{
            height: 60px;
            color: #f2f2f2;
            margin: 35px;
        }
        #search-result{
            font-weight: bold;
            font-size: xx-large;
        }
        .content{
            margin: 20px;
            height: 80%;
            overflow-y: hidden;
        }
        .parent_post_link{
            text-decoration: none !important;
        }
        .post_image{
            border-radius: 15px;
        }
        .left{
            height: 100%;
            width: 30%;
        }
        
        .post_image{
            height: 100%;
            width: 100%;
            margin: 0;
            padding-left: 0;
            object-fit:cover;
            border-radius: 15px 0% 0% 15px;
        }
        .post{
            display: flex;
            width:60%;
            height: 200px;
            background-color: #646464b4;
            border: 2px solid black; 
            padding: 0px;
            margin:auto;
            margin-top: 25px;
            border-radius: 15px;
        }
        .post_text{
            padding:2px;
            color: #efecec;
            font-family: 'Raleway', sans-serif;
            /* font-family: 'Roboto', sans-serif; */
            font-size: small;
        }
        .post_title{
            color: #efecec;
            text-decoration: none;
            margin-bottom: 10px;
            margin-top: 10px;
            font-family: 'Montserrat', sans-serif;
        }
        .post_source{
            color: #efecec;
            font-family: 'Montserrat', sans-serif;
        }
        .right{
            width: 100%;
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        .post_link2{
            text-decoration: none !important;
            display: flex;
            flex-direction: column;
            width: 70%;
        }
        .container_posts{
            display: none;
            margin: 20px;
            /* width: 100%; */
            background-color: #504949;
            border-radius: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <div class="dummy">
        <div class="topnav">
            <!-- <button type="button" id="button1" >Interactive map</button> -->
            <a href="/index"><button type="button" id="button1" >Interactive map</button></a>
            <a href="/news"><button type="button" id="button2" >Latest news</button></a>
            <a href="/weather_updates"><button type="button" id="button3" >Weather updates</button></a>
            <a href="/my_journal"><button type="button" id="button4" >Travel journal</button></a>

        </div>
        <form action="/logout" method="POST" class="submit">
            <button type="submit">Logout</button>
        </form>
    </div>
<!-- <div class="input-group mb-3 mx-auto justify-content-center"> -->
<!-- <div class="input-group mb-3 justify-content-center"> -->
<div id="search_box_wrapper">
    <div id="textfield">
        <div id="searchbox" class="input-group-append">
        </div>
        <button id="search-button" class="btn btn-outline-secondary font-weight-bold" type="button">Search</button>
    </div>
            
    </div>
    <!-- <pre id="result"></pre> -->
    <div id="news-header">
        <div id="search-result"></div>
    </div>
    <div class="container_posts">
        <!-- <a class="parent_post_link"> -->
            <div class="post">
                <div class="left">
                    <a class="post_link1"> <img src= ""  alt="Unable to load image" class="post_image"></a>
                </div> 
                <a class="post_link2">
                <div class="right">
                    <div class="content">
                        <span class="post_source"></span>
                        <h3 class="post_title"></h3>
                        <p class="post_text"></p>
                    </div>
                </div>
                </a>
            </div>
        <!-- </a> -->
    </div>
  <!-- </div> -->
  <script>
    mapboxgl.accessToken = '<%=mapbox_access_token%>';
    const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        types: 'country,region,place,postcode,locality,neighborhood'
    });
    
    geocoder.addTo('#searchbox');
    // Get the geocoder results container.
    // const results = document.getElementById('result');
    
    // Add geocoder result to container.
    // geocoder.on('result', (e) => {
    //     results.innerText = JSON.stringify(e.result, null, 2);
    // });
    
    // Clear results container when search is cleared.
    // geocoder.on('clear', () => {
    //     results.innerText = '';
    // });
    //var parentpostlink=document.querySelector(".parent_post_link");
    var postlink1=document.querySelector(".post_link1");
    var post=document.querySelector(".post");
    var postlink2=document.querySelector(".post_link2");
    var postimage=document.querySelector(".post_image");
    var posttitle=document.querySelector(".post_title");
    var posttext=document.querySelector(".post_text");
    var postsource=document.querySelector(".post_source");
    var container_posts=document.querySelector(".container_posts");;
    document.querySelector(".mapboxgl-ctrl-geocoder--input").placeholder = "Type location here..";
    document.getElementById("search-button").addEventListener('click',()=>{
        if(document.querySelector(".mapboxgl-ctrl-geocoder--input").value!=""){
            container_posts.innerHTML="";
            //document.getElementById("search-result").innerText="Showing results for \"\""+document.querySelector(".mapboxgl-ctrl-geocoder--input").value;
            document.getElementById("search-result").innerText=`Showing results for "${document.querySelector(".mapboxgl-ctrl-geocoder--input").value}"`;
            document.getElementById("search-result").style.display="block";
            
            str=document.querySelector(".mapboxgl-ctrl-geocoder--input").value;
            // Modifying query parameter to only include city name...seperator is comma, in order to discard the state and country names (if any) and also to account for city names having spaces (for eg. New Delhi, New York, etc.)
            var place=str.substring(0, str.indexOf(','));
            if(place==''){
                place=str;
            }
            var url = `https://newsapi.org/v2/everything?` +`q=${place}&`+'sortBy=popularity&'+'searchIn=title,description&'+`apiKey=${'<%=newsapi_access_token%>'}`;
            //console.log(url);
            var req = new Request(url);
            var jsonresponse;
            fetch(req).then(async function call(response) {
                jsonresponse= await response.json();
                //console.log(jsonresponse);
                //console.log(jsonresponse.articles);
                
            }).then(async function x(){
                container_posts.style.display="block";
                container_posts.style.margin="20px";
                /* width: 100%; */
                container_posts.style.backgroundColor="#504949";
                container_posts.style.borderRadius="30px";
                container_posts.style.paddingTop="20px";
                container_posts.style.paddingBottom="20px";
                for(var i=0;i<jsonresponse.articles.length;i++){
                    postimage.setAttribute("src",`${jsonresponse.articles[i].urlToImage}`);
                    postlink1.setAttribute('href',`${jsonresponse.articles[i].url}`);
                    postlink1.appendChild(postimage);
                    postsource.innerHTML=`${jsonresponse.articles[i].source.name}`;
                    postlink2.setAttribute('href',`${jsonresponse.articles[i].url}`);
                    posttitle.innerHTML=`${jsonresponse.articles[i].title}`;
                    posttext.innerHTML=`${jsonresponse.articles[i].description}`;
                    //parentpostlink.appendChild(post);
                    if(i==0){
                        post.setAttribute('id',"post0");
                        container_posts.appendChild(post);
                    }
                    if(i<jsonresponse.articles.length-1){
                        var divClone = post.cloneNode(true);
                        j=i+1;
                        divClone.setAttribute('id',"post"+j);
                        container_posts.appendChild(divClone);
                    }
                }
                
            });
            async function helper(){
                await call();
                await x();
            }
        }
    })
</script>
</body>

</html>